.logo {
  height: 10rem;
  /* float:inline-start; */
}

.NavBar {
  background: 
  /* url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Flag_of_Guatemala.svg/2560px-Flag_of_Guatemala.svg.png),  */
  linear-gradient(white, blue);
  background-size:fit-content;
}