body {
     position: relative;
    min-height: 100vh;
    padding-bottom: 2.5rem;    /* Footer height */
}

.logo {
  max-height: auto; 
  max-width: 25%;
  align-items: center;
  margin-left: 37%;
  margin-bottom: 5%;
  border: .5rem double blue;
}

.NavBar {
  background: 
  /* url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Flag_of_Guatemala.svg/2560px-Flag_of_Guatemala.svg.png),  */
  linear-gradient(white, blue);
  background-size:fit-content;
}

 .site-footer {
   padding: 15px 0;
  margin-top: 2rem;
  margin-bottom: -5rem;
  opacity: 0.85;
  color:darkblue;
  font-size: larger;
    position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 3rem;
    border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.site-footer::before {
      content: "";
      background:   url(https://img.freepik.com/premium-vector/pattern-geometric-line-circle-abstract-seamless-blue-line_60284-53.jpg?w=2000),
        no-repeat, linear-gradient(white, blue);
;
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.2;
}

#header-title {
  color: white;
  font-size: 3rem;
  text-align: center;
  max-height: 2rem;
}

#order-button {
max-width: fit-content;
background-color: blue;
margin:auto;
}

#card-header {
    position: relative; 
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-header:before {    
      content: "";
      background:   url(https://img.freepik.com/premium-vector/pattern-geometric-line-circle-abstract-seamless-blue-line_60284-53.jpg?w=2000);
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.2;
}

h2 {
  position: relative;
  color: black;  
  font-size: 14rem;
  line-height: 0.9;
  text-align: center;
}
